@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --gradient: linear-gradient(
      to top left,
      #03001e,
      #7303c0,
      #ec38bc,
      #fdeff9
    );
    --background: 261 100% 98.12%;
    --foreground: 261 10% 0.24%;

    --muted: 261 10% 90.6%;
    --muted-foreground: 261 5% 40.6%;

    --popover: 261 50% 91.54%;
    --popover-foreground: 261 10% 0.3%;

    --card: 261 50% 91.54%;
    --card-foreground: 261 10% 0.3%;

    --border: 261 15% 89.24%;
    --input: 261 15% 89.24%;

    --primary: 261 100% 6%;
    --primary-foreground: 261 2% 90.6%;

    --secondary: 261 6% 81.2%;
    --secondary-foreground: 261 7% 10.6%;

    --accent: 261 6% 81.2%;
    --accent-foreground: 261 7% 10.6%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --ring: 261 100% 6%;

    --radius: 0.5rem;
  }

  .dark {
    /* CSS: .bg-gradient { background: var(--gradient) } */
    --gradient: linear-gradient(to top left, #77a1d3, #79cbca, #e684ae);

    --background: 226 33.15% 5.2%;
    --foreground: 226 5.1% 98.25%;

    --muted: 226 26.52% 22.75%;
    --muted-foreground: 226 5.1% 56.5%;

    --popover: 226 54.8% 8.450000000000001%;
    --popover-foreground: 226 5.1% 98.25%;

    --card: 226 54.8% 8.450000000000001%;
    --card-foreground: 226 5.1% 98.25%;

    --border: 226 26.52% 22.75%;
    --input: 226 26.52% 22.75%;

    --primary: 226 51% 65%;
    --primary-foreground: 226 5.1% 6.5%;

    --secondary: 226 26.52% 22.75%;
    --secondary-foreground: 226 5.1% 98.25%;

    --accent: 226 26.52% 22.75%;
    --accent-foreground: 226 5.1% 98.25%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 226 5.1% 98.25%;

    --ring: 226 51% 65%;

    --radius: 0.5rem;
  }

  .other-dark {
    /* CSS: .bg-gradient { background: var(--gradient) } */
    --gradient: linear-gradient(to top left, #9796f0, #fbc7d4);

    --background: 256 48.75% 6.08%;
    --foreground: 256 7.5% 98.8%;

    --muted: 256 36% 21.28%;
    --muted-foreground: 256 7.5% 57.6%;

    --popover: 256 53% 13.68%;
    --popover-foreground: 256 7.5% 98.8%;

    --card: 256 53% 13.68%;
    --card-foreground: 256 7.5% 98.8%;

    --border: 256 36% 21.28%;
    --input: 256 36% 21.28%;

    --primary: 256 75% 76%;
    --primary-foreground: 256 7.5% 7.6%;

    --secondary: 256 36% 21.28%;
    --secondary-foreground: 256 7.5% 98.8%;

    --accent: 256 36% 21.28%;
    --accent-foreground: 256 7.5% 98.8%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 256 7.5% 98.8%;

    --ring: 256 75% 76%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  .text-gradient {
    @apply bg-gradient bg-cover bg-clip-text text-transparent;
  }
}
